@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

:root {
  --primary-violet: hsl(270deg, 100%, 51%);
  --primary-lightviolet: hsl(235deg, 82%, 77%);
  --primary-dark-darkblue: hsl(219deg, 29%, 14%);
  --primary-dark-midnight: hsl(220deg, 29%, 10%);
  --secondary-white: hsl(0deg, 0%, 100%);
  --secondary-lightgrey: hsl(210deg, 22%, 96%);
  --secondary-dark-gray: hsl(212deg, 23%, 69%);
  --secondary-dark-darkgray: hsl(214deg, 17%, 51%);
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  background: var(--secondary-lightgrey);
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}